name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: deploy-production
  cancel-in-progress: false

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Validate
        uses: ./.github/actions/validate

  deploy:
    name: Deploy
    needs: validate
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Load secrets from 1Password
        uses: 1password/load-secrets-action@v2
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_ACCESS_KEY_ID: op://ci-cd/cdn/AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: op://ci-cd/cdn/AWS_SECRET_ACCESS_KEY
          BASIC_AUTH_USER: op://ci-cd/cdn/BASIC_AUTH_USER
          BASIC_AUTH_PASSWORD: op://ci-cd/cdn/BASIC_AUTH_PASSWORD
          VERCEL_TOKEN: op://ci-cd/cdn/VERCEL_TOKEN
          VERCEL_ORG_ID: op://ci-cd/cdn/VERCEL_ORG_ID
          VERCEL_PROJECT_ID: op://ci-cd/cdn/VERCEL_PROJECT_ID

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          aws-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          basic-auth-user: ${{ env.BASIC_AUTH_USER }}
          basic-auth-password: ${{ env.BASIC_AUTH_PASSWORD }}
          vercel-token: ${{ env.VERCEL_TOKEN }}
          vercel-org-id: ${{ env.VERCEL_ORG_ID }}
          vercel-project-id: ${{ env.VERCEL_PROJECT_ID }}
          terraform-dir: "."
