name: Destroy
on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type 'destroy' to confirm"
        required: true

concurrency:
  group: deploy-production
  cancel-in-progress: false

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  destroy:
    name: Destroy Infrastructure
    if: ${{ github.event.inputs.confirm == 'destroy' }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Load secrets from 1Password
        uses: 1password/load-secrets-action@v2
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_ACCESS_KEY_ID: op://ci-cd/cdn/AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: op://ci-cd/cdn/AWS_SECRET_ACCESS_KEY

      - name: Destroy
        uses: ./.github/actions/destroy
        with:
          aws-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          terraform-dir: "."
