name: Destroy
on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type 'destroy' to confirm"
        required: true
      secrets_provider:
        description: "Secrets provider"
        required: true
        default: "gha-secrets"
        type: choice
        options:
          - gha-secrets
          - 1password

concurrency:
  group: deploy-production
  cancel-in-progress: false

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  destroy:
    name: Destroy Infrastructure
    if: ${{ github.event.inputs.confirm == 'destroy' }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Load secrets from 1Password
        if: inputs.secrets_provider == '1password'
        uses: 1password/load-secrets-action@v2
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_ACCESS_KEY_ID: op://ci-cd/cdn/AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: op://ci-cd/cdn/AWS_SECRET_ACCESS_KEY
          TF_VAR_cloudflare_account_id: op://ci-cd/cdn/CLOUDFLARE_ACCOUNT_ID
          TF_VAR_cloudflare_api_token: op://ci-cd/cdn/CLOUDFLARE_API_TOKEN
          TF_VAR_cloudflare_zone_id: op://ci-cd/cdn/CLOUDFLARE_ZONE_ID

      - name: Set secrets from GitHub Actions
        if: inputs.secrets_provider == 'gha-secrets'
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "TF_VAR_cloudflare_account_id=${{ secrets.CLOUDFLARE_ACCOUNT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_cloudflare_api_token=${{ secrets.CLOUDFLARE_API_TOKEN }}" >> $GITHUB_ENV
          echo "TF_VAR_cloudflare_zone_id=${{ secrets.CLOUDFLARE_ZONE_ID }}" >> $GITHUB_ENV

      - name: Destroy
        uses: ./.github/actions/destroy
        with:
          aws-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          terraform-dir: "."
